*{
	box-sizing: border-box;
}
body{
	background-color: orange;
}
.container{
	background-color: yellow;

}
.nombre_logo{
	position: absolute;
}

.cabecera{
	margin-top: 2%;
	margin-bottom: 5%;
	display: inline-block;
}

.marca{
	float: right;
}

.enter_buttoms{
	display: inline-block;
	float: right;
	position: absolute;
	background-color: red;
	margin-left: 80%;

	
}

.enter_buttoms a{
	color: blue;
	text-decoration: none;
	font-family: sans-serif;
	border: blue solid 2px;
	padding: 2%
	background-color: red;
	
}

.container_video{
    position: relative;
    overflow: hidden;
	background-color: green;
	margin:5%;
}
video {
  /**  margin-top: 300px ;**/
    width: 100%;
    height: 100%;
	background-color: red;
	opacity: 500ms;
	opacity: 0;
	/**   		//<video controls="controls" width="80%" height="90%" src="videos/gorillaz.webm" type="video/webm">
   		 </video>#**/
}

footer{
	
	float: right;
}

footer li {
	display: inline-block;

	}

.barra_info a {
	text-decoration: none;
	padding: 3px;
	color: black;
}
h2{
	text-align: center;
	position: absolute;
	top: 20%;
	left:22%;
	/**transform: translateY(50%);**/
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 5px;
}